.background-active {
  background-color: aliceblue;
  transition: background-color 200ms linear;

  color: black;
}

.btn {
  @apply py-2 px-6 rounded-full uppercase tracking-wider duration-300 ease-in-out;
}

.error {
  border-width: 2.5px;
  border-color: rgb(213, 29, 29);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

html {
  scroll-behavior: smooth;
}

.dynamic-txts {
  line-height: 80px;
  height: 80px;
  overflow: hidden;
}

.dynamic-txts li {
  color: #ffffff;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  position: relative;
  animation: slide 6s steps(2) infinite;
}

@media (max-width: 480px) {
  .dynamic-txts li {
    font-size: 30px; /* Font size for screens smaller than 480px */
  }
}

@keyframes slide {
  100% {
    top: -85px;
  }
}

.dynamic-txts li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  /* border-left: 2px solid #ff005a; */
  border-left: 2px solid #ffffff;
  animation: typing 3s steps(10) infinite;
  background-color: rgb(0, 0, 51);
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

.float-image {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
